.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination-items {
  padding: 2px 4px;
  background: white;
  border: 2px solid gray;

  a {
    text-decoration: none;
  }
}
