.menu {
  background: #cfed92;
  padding: 20px 20px 20px 20px;

  .menu__name {
    text-transform: uppercase;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

  &__alphabetical,
  &__filtering {
    display: flex;
    gap: 10px;
  }

  button {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    background: green;
    color: white;
    cursor: pointer;
    box-shadow: 0px 3px 6px black;

    &:hover {
      filter: brightness(110%);
    }

    &:active {
      filter: brightness(90%);
    }
  }
}
